
@media (max-width: 1285px) {
    // =====header==============
    .header__block-contacts {
        display: none;
    }
    // =========================

    // ===========section-one================

    // ======================================

    // ======footer=============
    
    // =========================
}

@media (max-width: 1140px) {
    
}

@media (max-width: 1024px) {
    // =====header==============
    .header-btn {
        display: none;
    }
    // =========================

    // ======footer=============
    .footer__nav-linck {
        font-size: 1rem;
    }
    .footer__nav-lists {
        gap: 3rem;
    }
    // =========================
}

@media (max-width: 920px) {
    
}

@media (max-width: 821px) {
    // =====header==============
    .header-nav{
        display: none;
    }
    .header__block-contacts {
        display: flex;
    }
    .header-burgermenu {
        display: block;
    }
    // =========================

    // ======footer=============
    .footer__nav-lists {
        flex-direction: column;
        gap: 0.5rem;
    }

    // =========================
}

@media (max-width: 769px) {}

@media (max-width: 541px) {
    // =====header==============
    .header__block-contacts {
        .block__contacts-time{
            display: none;
        }
        .block__contacts-clock{
            display: none;
        }
    }
    .header__logo-discription {
        display: none;
    }
    // =========================

    // ======footer=============
    .footer-block {
        flex-direction: column;
        align-items: center;
    }
    .footer__block-contacts {
        text-align: center;
        margin: 1rem 0;
        order: 1;
    }
    .footer-nav {
        order: 2;
    }
    .footer__nav-linck {
        font-size: 1.2rem;
    }
    .footer__nav-lists {
        margin-bottom: 1.5rem;
    }

    // =========================
}

@media (max-width: 431px) {
    // =====header==============
    .header-logo{
        width: 10rem;
    }
    // =========================
}

@media (max-width: 413px) {}

@media (max-width: 394px) {
    // =====header==============
    .header-logo {
        width: 8rem;
    }
    // =========================
}

@media (max-width: 377px) {}