$font-famali-1: "Roboto", sans-serif;
$font-famali-2: "Oswald",sans-serif;

$header-bg:rgb(250, 245, 242);
$color-1:rgb(48, 48, 48);
$color-1-hover:rgb(128, 127, 127);
$color-2:rgb(213, 177, 155);
$color-3: rgb(255, 255, 255);
