.footer__logo-discription, .header__logo-discription {
  color: rgb(48, 48, 48);
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1rem;
}

.footer__nav-linck, .burgermenu__linck, .header__nav-linck {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1rem;
}

.footer-btn, .header-btn {
  border-radius: 0.63rem;
  background: rgb(213, 177, 155);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::-moz-placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.footer__logo-discription, .header__logo-discription {
  color: rgb(48, 48, 48);
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1rem;
}

.footer__nav-linck, .burgermenu__linck, .header__nav-linck {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1rem;
}

.footer-btn, .header-btn {
  border-radius: 0.63rem;
  background: rgb(213, 177, 155);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::-moz-placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.header {
  background-color: rgb(250, 245, 242);
}

.conteiner {
  max-width: 107rem;
  padding: 0 1rem;
  margin: 0 auto;
  border: 1px solid black;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.header__logo-discription {
  margin-top: 0.3rem;
}

.header__nav-lists {
  display: flex;
  gap: 4rem;
}

.header__nav-linck:hover {
  color: rgb(128, 127, 127);
}

.burgermenu__linck:hover {
  color: rgb(128, 127, 127);
}

.header__block-contacts {
  display: flex;
  align-items: center;
}

.block__contacts-time, .block__contacts-tel {
  color: rgb(48, 48, 48);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1rem;
  margin-left: 0.4rem;
}

.block__contacts-tel {
  margin: 0 3.7rem 0 3.7rem;
}

.header-btn {
  width: 13rem;
  height: 2.5rem;
  text-transform: uppercase;
  top: 0;
  position: relative;
}
.header-btn:hover {
  color: rgb(128, 127, 127);
}
.header-btn:active {
  top: 1px;
}

.header-burgermenu {
  cursor: pointer;
  display: none;
}

.burgermenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(250, 245, 242);
  z-index: 2;
  border: 1px solid black;
}

.burgermenu-lists {
  margin: 2rem 3rem;
}

.burgermenu-list {
  margin-bottom: 1.5rem;
}

.burgermenu-cloze {
  margin: 1rem 0 0 90%;
}

@media (max-width: 1285px) {
  .header__block-contacts {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__nav-lists {
    gap: 2rem;
  }
}
@media (max-width: 920px) {
  .header-btn {
    display: none;
  }
}
@media (max-width: 821px) {
  .header__nav {
    display: none;
  }
  .header__block-contacts {
    display: flex;
  }
  .header-burgermenu {
    display: block;
  }
}
@media (max-width: 541px) {
  .header__block-contacts .block__contacts-time {
    display: none;
  }
  .header__block-contacts .block__contacts-clock {
    display: none;
  }
  .header__logo-discription {
    display: none;
  }
}
@media (max-width: 431px) {
  .header-logo {
    width: 10rem;
  }
  .block__contacts-tel {
    font-size: 1rem;
  }
}
@media (max-width: 394px) {
  .header-logo {
    width: 8rem;
  }
}
.footer__logo-discription, .header__logo-discription {
  color: rgb(48, 48, 48);
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1rem;
}

.footer__nav-linck, .header__nav-linck, .burgermenu__linck {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1rem;
}

.footer-btn, .header-btn {
  border-radius: 0.63rem;
  background: rgb(213, 177, 155);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::-moz-placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.footer {
  background-color: rgb(250, 245, 242);
}

.footer-block {
  display: flex;
  justify-content: space-between;
  margin: 1.9rem 0;
}

.footer__nav {
  text-align: center;
}

.footer__nav-block {
  text-align: center;
}

.footer__nav-lists {
  display: flex;
  gap: 5.7rem;
  margin-bottom: 3.5rem;
}

.footer__nav-linck:hover {
  color: rgb(128, 127, 127);
}

.footer__block-contacts {
  text-align: center;
}

.footer-logo {
  margin-bottom: 1.3rem;
}

.footer__contacts-tel {
  color: rgb(48, 48, 48);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.31rem;
  font-family: "Oswald", sans-serif;
}

.footer__nav-btn {
  color: rgb(48, 48, 48);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.88rem;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.footer__nav-btn:hover {
  color: rgb(128, 127, 127);
}

.footer-btn {
  width: 13rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  top: 0;
  position: relative;
}
.footer-btn:hover {
  color: rgb(128, 127, 127);
}
.footer-btn:active {
  top: 1px;
}

@media (max-width: 1024px) {
  .footer__nav-linck {
    font-size: 1rem;
  }
  .footer__nav-lists {
    gap: 3rem;
  }
}
@media (max-width: 821px) {
  .footer__nav-lists {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 541px) {
  .footer-block {
    flex-direction: column;
    align-items: center;
  }
  .footer__block-contacts {
    text-align: center;
    margin: 1rem 0;
    order: 1;
  }
  .footer__nav {
    order: 2;
  }
  .footer__nav-linck {
    font-size: 1.2rem;
  }
  .footer__nav-lists {
    margin-bottom: 1.5rem;
  }
}
.header__logo-discription, .footer__logo-discription {
  color: rgb(48, 48, 48);
  font-family: "Roboto", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1rem;
}

.header__nav-linck, .burgermenu__linck, .footer__nav-linck {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1rem;
}

.header-btn, .footer-btn {
  border-radius: 0.63rem;
  background: rgb(213, 177, 155);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::-moz-placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.form__input-popup::placeholder {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.69rem;
}

.requestcall__block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background: linear-gradient(-46.21deg, rgb(213, 177, 155) 4.308%, rgb(213, 177, 155) 99.495%);
}

.input__block-popup {
  width: 100%;
  text-align: center;
}

.requestcall__block-cloze {
  margin: 2rem 0 0 90%;
}

.requestcall__form-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
  margin: 3% auto;
}

.form__title-popup {
  color: rgb(48, 48, 48);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 4.44rem;
  text-align: center;
  margin-bottom: 3.6rem;
}
@media (max-width: 767px) {
  .form__title-popup {
    font-size: calc(24px + 40.8 * (100vw - 320px) / 1712);
  }
}
@media (min-width: 767px) {
  .form__title-popup {
    font-size: calc(24px + 24 * 100vw / 1712);
  }
}

.form__input-popup {
  width: 70%;
  height: 3.5rem;
  border-radius: 0.63rem;
  background: rgb(255, 255, 255);
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  font-family: Oswald;
  padding-left: 1rem;
  font-size: 1.13rem;
}
.form__input-popup::-moz-placeholder {
  padding-left: 2rem;
}
.form__input-popup::placeholder {
  padding-left: 2rem;
}

.requestcall__block-cloze {
  cursor: pointer;
}
.requestcall__block-cloze:hover {
  transform: scale(1.1);
}

.form__btn-popup {
  width: 70%;
  height: 3.5rem;
  border-radius: 0.63rem;
  background: rgb(215, 166, 136);
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
  position: relative;
  top: 0;
}
.form__btn-popup:hover {
  background: rgb(214, 158, 123);
}
.form__btn-popup:active {
  top: 2px;
}

.form-span {
  color: red;
}

.error {
  border: 1px solid red;
  background-color: rgb(243, 202, 202);
}

@media (max-width: 1285px) {
  .class-block {
    top: -5rem;
  }
}
body {
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */